/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/

// import mixins
@import "partials/mixins";

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #000;
$white:             #fff;

$light-gray:        #faf9f8;
$gray:              #eee;
$text-color:        #5c6b80;
$orange:			#f8931d;
$dark-orange:	darken($orange, 10%);
$red:				#f81b2d;
$skins-gray:		#242021;
$meta-gray:        lighten($skins-gray, 50%);

$tan:               #eceee5;

$green:             #7dd667;

$bones-pink:        #f01d4f;
$blue:              #2980b9;

$text-color:        lighten($skins-gray, 25%);
$link-color:        $orange;
$link-hover:        darken($link-color, 9%);

$border-color:      $gray;
$border-lighter:		#f5f5f5;
$disabled-gray:     #cfcfcf;



%skins-grunge {
	background:$black url(../images/skins-gray-light-grunge.jpg); // lighten($skins-gray, 50%);
	@include css-gradient-plus-img($from: rgba($black, .9), $to: rgba($black, .3), $vstart:"top", $vend:"bottom", $url:"../images/skins-gray-light-grunge.jpg");
}
@mixin grunge($color) {
	background:$color url(../images/white-dark-grunge.jpg);
	@include css-gradient-plus-img($from: rgba($color, .8), $to: rgba($color, .05), $vstart:"top", $vend:"bottom", $url:"../images/white-dark-grunge.jpg");
}
%white-grunge {
	@include grunge($white);
}
%light-gray-grunge {
	@include grunge($light-gray);
}
%gray-grunge {
	@include grunge($gray);
}
%orange-grunge {
	@include grunge($orange);
}
%light-orange-grunge {
	@include grunge(lighten($orange, 30%));
}


/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
