/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/

// import mixins
@import "partials/mixins";

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #000;
$white:             #fff;

$light-gray:        #faf9f8;
$gray:              #eee;
$text-color:        #5c6b80;
$orange:			#f8931d;
$dark-orange:	darken($orange, 10%);
$red:				#f81b2d;
$skins-gray:		#242021;
$meta-gray:        lighten($skins-gray, 50%);

$tan:               #eceee5;

$green:             #7dd667;

$bones-pink:        #f01d4f;
$blue:              #2980b9;

$text-color:        lighten($skins-gray, 25%);
$link-color:        $orange;
$link-hover:        darken($link-color, 9%);

$border-color:      $gray;
$border-lighter:		#f5f5f5;
$disabled-gray:     #cfcfcf;



%skins-grunge {
	background:$black url(../images/skins-gray-light-grunge.jpg); // lighten($skins-gray, 50%);
	@include css-gradient-plus-img($from: rgba($black, .9), $to: rgba($black, .3), $vstart:"top", $vend:"bottom", $url:"../images/skins-gray-light-grunge.jpg");
}
%white-grunge {
	background:$white url(../images/white-dark-grunge.jpg); // lighten($skins-gray, 50%);
	@include css-gradient-plus-img($from: rgba($white, .8), $to: rgba($white, .05), $vstart:"top", $vend:"bottom", $url:"../images/white-dark-grunge.jpg");
}
%light-gray-grunge {
	background:$light-gray url(../images/white-dark-grunge.jpg);
	@include css-gradient-plus-img($from: rgba($light-gray, .8), $to: rgba($light-gray, .05), $vstart:"top", $vend:"bottom", $url:"../images/white-dark-grunge.jpg");
}
%gray-grunge {
	background:$gray url(../images/white-dark-grunge.jpg);
	@include css-gradient-plus-img($from: rgba($gray, .8), $to: rgba($gray, .05), $vstart:"top", $vend:"bottom", $url:"../images/white-dark-grunge.jpg");
} 


/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
