/******************************************************************
Site Name:
Author:

Stylesheet: Admin Stylesheet

If you like living on the edge, you can add some styles here to
customize the dashboard and WordPress admin area. This stylesheet
is empty, but you can just start dropping your styles here to
start customizing. All admin functions are located in lib/admin/

******************************************************************/
/* line 17, ../scss/admin.scss */
#adminmenu .menu-icon-media_items a div.wp-menu-image:after, #adminmenu .menu-icon-ad_spaces a div.wp-menu-image:after {
  content: "";
  background-image: url(../images/media-item-icon.png);
  background-position: 5px 4px;
  background-repeat: no-repeat;
  height: 28px;
  display: block;
  margin: 3px 0;
}
/* line 26, ../scss/admin.scss */
#adminmenu .menu-icon-media_items a div.wp-menu-image img, #adminmenu .menu-icon-ad_spaces a div.wp-menu-image img {
  display: none;
}
/* line 32, ../scss/admin.scss */
#adminmenu .menu-icon-media_items a:hover div.wp-menu-image:after, #adminmenu .menu-icon-ad_spaces a:hover div.wp-menu-image:after {
  background-position: 5px -46px;
}
/* line 41, ../scss/admin.scss */
#adminmenu .menu-icon-media_items.wp-menu-open a div.wp-menu-image:after, #adminmenu .menu-icon-ad_spaces.wp-menu-open a div.wp-menu-image:after {
  background-position: 5px -21px;
}
/* line 51, ../scss/admin.scss */
#adminmenu .menu-icon-ad_spaces a div.wp-menu-image:after {
  background-image: url(../images/advsp-icon.png);
  background-position: 8px 4px;
}
/* line 58, ../scss/admin.scss */
#adminmenu .menu-icon-ad_spaces a:hover div.wp-menu-image:after {
  background-position: 8px -46px;
}
/* line 67, ../scss/admin.scss */
#adminmenu .menu-icon-ad_spaces.wp-menu-open a div.wp-menu-image:after {
  background-position: 8px -21px;
}

/* line 78, ../scss/admin.scss */
body.wp-admin.events-cal .fixed .column-categories, body.wp-admin.events-cal .fixed .column-rel, body.wp-admin.events-cal .fixed .column-response, body.wp-admin.events-cal .fixed .column-role, body.wp-admin.events-cal .fixed .column-tags, body.wp-admin.events-cal .fixed .column-author, body.wp-admin.events-cal .fixed .column-date, body.wp-admin.events-cal .fixed .column-format, body.wp-admin.events-cal .fixed .column-links, body.wp-admin.events-cal .fixed .column-parent, body.wp-admin.events-cal .fixed .column-posts, body.wp-admin.events-cal .fixed .column-end-date, body.wp-admin.events-cal .fixed .column-events-cats, body.wp-admin.events-cal .fixed .column-start-date {
  width: auto;
}
