/******************************************************************

Stylesheet: Tablet Landscape Stylsheet


******************************************************************/


/*********************
POSTS & CONTENT STYLES
*********************/

.content-primary {
	width:72%;
	padding-right:20px;
	@include box-sizing;
}
.content-secondary {
	width:28%;
}

.thumb-index {
	.thumb-index-inner {
		& > ul {
			& > li {
				.item-content {
					& > * {
						&.btn {
							display:inline-block;
						}
					}
				}
			}
		}
	}
}

/******************************************************************
CAROUSEL STYLES
******************************************************************/
.carousel {
	& > ul {
		& > li {
			.carousel-item-heading-desktop {
				font-size:6px;
				h2 {
					font-size:5.6em;
				}
			}
		}
	}
}

/*********************
OV STYLES & VIDEO STYLES
*********************/

.ov-wrap {
	&.video-ov-wrap {
		padding:30px;
	}
}

.vjs-skinsplex-skin {
	font-size:11px;
}

/*********************
AD SPACE STYLES
*********************/
.advspcnt {
	&.r-160x600 {
		display:block;
		float:right;
		margin-left:-100%;
		width:160px;
		height:600px;
	}
	&.r-300x100 {
		display:none;
	}
}

/******************************************
PAGE SPECIFIC STYLES
******************************************/
/* Home/Category index pages */
body.page-template-page-custom-index {
	.banner-gallery {
		.banner-heading {
			padding:20px 30px;
			font-size:10px;
			h3 {
				font-size:2.8em;
			}
			h2 {
				font-size:5.6em;
			}
			p {
				font-size:2.4em;
			}
		}
		.navigation {
			& > a {
				@include v-center;
				position:absolute;
				text-indent:-9999px;
				background:rgba(255,255,255,.2);
				@include transition(background-color 0.15s ease-in-out);
				@include border-radius(50%);
				width:50px;
				height:50px;
				&:hover {
					background-color:rgba(255,255,255,.3);
				}
				&:after {
					content:"";
					display:block;
					width: 0;
					height: 0;
					border-top:12px solid transparent;
					border-bottom:12px solid transparent;
					position:absolute;
					top:13px;
				}
				&.prev {
					left:20px;
					&:after {
						border-right:24px solid rgba(255,255,255,.8);
						left:10px;
					}
				}
				&.next {
					right:20px;
					&:after {
						border-left:24px solid rgba(255,255,255,.8);
						right:10px;
					}
				}
			}
			.hit-zone {
				opacity:0;
				@include transition(opacity 0.275s ease-in-out);
			}
			&.hit-zone-active, &.banner-active {
				background:rgba(0,0,0,.5);
				.hit-zone {
					opacity:1;
				}
			}
		}
		&:hover {
			.navigation {
				opacity:1;
				a {
					display:inline-block;
				}
			}
		}
	}
	.thumbnail-gallery {
		.owl-nav {
			margin-left:90px;
			margin-right:90px;
		}
		.thumbnail-item {
			a {
				&:hover, &:focus {
					color:$white;
				}
				&:hover {
					background-color:rgba(255,0,0,.3);
				}
			}
		}
	}
}

/* Single Media Item Page */
body.single-media_items {
	.hentry {
		&.advactive {
			padding-right:180px;
		}
		.entry-content {
			padding-right:0;
		}
	}
}