/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

#container {
	#content {
		padding-top:90px;
		@include transition(padding .35s);
	}
}
.wrap {
	margin:0 80px;
}
.narrow-wrap {
	max-width:1000px;
	margin:0 auto;
}

header.header {
	@include css-gradient-plus-img($from: rgba($black, .8), $to: rgba($black, .1), $vstart:"top", $vend:"bottom", $url:"../images/skins-gray-light-grunge.jpg");
	border-bottom:1px solid rgba($red, .15);
}
#logo {
	position:absolute;
	width:420px;
	height:90px;
	background:none;
	@include transition(height .35s);
	a {
		margin:0;
		height:100%;
	}
}
body.scrolled {
	#container #content {
		padding-top:70px;
	}
	#logo {
		height:70px;
	}
	.main-nav .top-nav > li {
		& > a {
			height:70px;
			line-height:70px;
		}
		&.mega-menu {
			& > .sub-menu {
				top:70px;
			}
		}
	}
}
.nav {
	border: 0;
	& > ul {
		background:$black;
		margin-top:0;
	}
	& > li {
		float: left;
		position: relative;

		a {
			border-bottom: 0;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
			}
		}

		&:first-child {}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		& > ul.sub-menu,
		ul.children {
			margin-top: 0;
			border: 1px solid #ccc;
			border-top: 0;
			position: absolute;
			opacity:0;
			visibility:hidden;
			overflow:hidden;
			z-index: 8999;
			@include transition(opacity .35s);
			li {

				a {
					padding-left: 10px;
					border-right: 0;
					display: block;

					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {
					top:0;
					left:100%;
				}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover > ul {
			top: auto;
			opacity:1;
			visibility:visible;
			overflow:visible;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {}
	}  /* end current highlighters */
} /* end .nav */
.main-nav {
	float:right;
	height:auto;
	width:auto;
	position:static;
	background:transparent;
	.top-nav {
		position:static;
		background:transparent;
		overflow:visible;
		float:left;
		& > li {
			& > a {
				padding:0 8px;
				font-size:12px;
				margin-top:0;
				border:0;
				height:90px;
				line-height:90px;
				@include box-sizing;
				@include transition(height .35s, line-height .35s, color 0.35s ease-in-out, background-color 0.35s ease-in-out);
			}
			&.menu-item-search, &.menu-item-login, &.menu-item-logout {
				& > a {
					text-indent:-9999px;
					width:18px;
					padding-left:12px;
				}
			}
			&.menu-item-search {
				& > a {
					background-position:50% -282px;
				}
			}
			&.menu-item-login {
				& > a {
					background-position:50% -82px;
				}
			}
			&.menu-item-logout {
				& > a {
					background-position:50% -182px;
				}
			}
			.sub-menu {
				border:0;
				& > li {
					float:none;
					a {
						/*background:#333;
						@include css-gradient-plus-img($from: rgba($black, .1), $to: rgba($black, 0), $vstart:"top", $vend:"bottom", $url:"../images/skins-gray-light-grunge.jpg");*/
						background:transparent;
						border-color:#3e3e3e;
						border-top:0;
						margin-top:0;
						padding:10px 25px;
					}
					.sub-menu {
						background:transparent;
						& > li a {
							/*background:#333;
							@include css-gradient-plus-img($from: rgba($black, .1), $to: rgba($black, 0), $vstart:"top", $vend:"bottom", $url:"../images/skins-gray-light-grunge.jpg");*/
							background:transparent;
						}
					}
				}
			}
			&.mega-menu {
				& > .sub-menu {
					text-align:center;
					position:fixed;
					top:90px;
					left:0;
					width:100%;
					padding:0 80px;
					@include box-sizing;
					background:#333;
					@include css-gradient-plus-img($from: rgba($black, .8), $to: rgba($black, .4), $vstart:"top", $vend:"bottom", $url:"../images/skins-gray-light-grunge.jpg");
					@include transition(top .35s, opacity .35s);
					& > li {
						float:left;
						width:50%;
						a {
							height:50px;
							line-height:50px;
						}
						& > a {
							font-size:13px;
							border-bottom:1px solid rgba($white, .1);
							background-color:rgba($white, .02);
						}
						.sub-menu {
							position:static;
							a {
								border:0;
							}
						}
					}
				}
				&.items-3 {
					& > .sub-menu {
						& > li {
							width:33.3%;
						}
					}
				}
				&.items-4 {
					& > .sub-menu {
						& > li {
							width:25%;
						}
					}
				}
				&.items-5 {
					& > .sub-menu {
						& > li {
							width:20%;
						}
					}
				}
			}
		}
	}
}
.trigger-nav {
	display:none;
}
.social-follow {
	float:right;
	padding:28px 0;
	width:auto;
	@include transition(padding .35s);
	& > a {
		width:28px;
		height:28px;
		float:left;
		opacity:.8;
		padding:3px;
		@include border-radius(50%);
		@include transition(background-color .35s, opacity .35s);
		&:hover {
			opacity:1;
			background-color:$orange;
		}
		&.fb:hover {
			background-color:$fb-blue;
		}
		&.tw:hover {
			background-color:$tw-blue;
		}
		&.youtube:hover {
			background-color:$youtube-red;
		}
		& > img {
			display:block;
			width:100%;
			height:100%;
		}
	}
}
body.scrolled {
	.social-follow {
		padding:18px 0;
	}
}


/*********************
POSTS & CONTENT STYLES
*********************/
.format-standard, .tribe_events, .page-template_default {
	.thumb-index { 
		.thumb-index-inner {
			margin:0 auto;
		}
	}
}
.page-template-page-film-guide, .page-template-page-festival-schedule {
	.row-index {
		.row-index-inner {
			margin:0 auto;
		}
	}
}
.venue-list {
	.venue-list-inner {
		margin:0 auto;
	}
}

.thumb-index {
	.thumb-index-inner {
		& > ul {
			& > li {
				.item-content {
					& > * {
						&.btn {
							display:inline-block;
						}
					}
				}
			}
			&.sponsor-gallery {
				margin-right:-2px;
				border-top:4px solid $border-color;
				& > li {
					width:33.3%;
					.item-content {
						.gallery-caption, .item-link {
							font-size:13px;
						}
					}
				}
			}
		}
	}
}
.row-index {
	.row-index-inner {
		.index-section-head {
			font-size:20px;
		}
		.index-section-subhead {
			font-size:18px;
		}
		& > ul {
			& > li {
				& > a {
				}
				img {
					float:left;
					margin-bottom:5px;
					max-width:300px;
				}
			}
		}
	}
}
.screening-lists, .events-lists {
	.tabs {
		li {
			&:after {
				margin-bottom:16px;
				border-width:10px 0 10px 10px;
			}
		}
	}
}

/******************************************************************
CAROUSEL STYLES
******************************************************************/

.carousel {
	position:relative;
	.carousel-nav {
		position:static;
		a {
			@include transform(translateY(-50%));
			position:absolute;
			top:50%;
			text-indent:-9999px;
			z-index:3;
			background:rgba($black, .5);
			padding:10px;
			width:30px;
			@include border-radius(50%);
			opacity:0;
			@include transition(opacity .35s);
			&:after {
				border-top-width:12px;
				border-bottom-width:12px;
				float:none;
				margin:0;
			}
			&.active {
				opacity:1;
			}
			&.prev {
				left:10px;
				&:after {
					border-right-width:20px;
					margin-left:2px;
				}
			}
			&.next {
				right:10px;
				&:after {
					border-left-width:20px;
					margin-right:2px;
				}
			}
		}
	}
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	h4 {
		margin-bottom:15px;
	}
}

.footer {
	#inner-footer {
		height:69px;
		border-top:1px solid #303030;
		nav {
			float:right;
			a {
				height:69px;
				line-height:69px;
				padding-top:0;
				padding-bottom:0;
				&:hover {
					color:$link-hover;
				}
			}
		}
	}
}

/******************************************
PAGE SPECIFIC STYLES
******************************************/

/******************************************
FESTIVAL SCHEDULE PAGE
******************************************/
body.page-template-page-festival-schedule {
	h1 {
		font-size:36px;
	}
	.films-list {
		.row-index-inner > ul > li {
			.item-content {
				.item-body {
					clear:none;
				}
			}
		}
	}
}