/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

#container {
	#content {
		padding-top:100px;
	}
}
.wrap {
	margin:0 120px;
	max-width:1472px;
}
#logo {
	height:100px;
	width:461px;
	a {
		margin:0;
		height:100%;
	}
}

.main-nav {
	.top-nav {
		position:static;
		& > li {
			& > a {
				padding:0 12px;
				font-size:13px;
				height:100px;
				line-height:100px;
			}
			.sub-menu  a {
				height:40px;
				line-height:40px;
			}
			&.mega-menu {
				& .sub-menu {
					top:100px;
				}
			}
		}
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/

.thumb-index {
	.thumb-index-inner {
		h2 {
			padding-top:15px;
			padding-bottom:15px;
		}
		& > ul {
			margin-right:-1%;
			& > li {
				width:24%;
				margin:0 1% 1% 0;
				&.hide-3col {
					display:block;
				}
				.item-content {
					padding:15px 0;
					& > * {
						&.item-head, &.item-body {
							padding:0 20px;
						}
						&.item-head {
							font-size:26px;
						}
						&.item-body {
							font-size:16px;
						}
						&.btn {
							margin:0 20px;
							bottom:15px;
						}
					}
				}
			}
		}
	}
}

/******************************************************************
CAROUSEL STYLES
******************************************************************/
.carousel {
	& > ul {
		& > li {
			.carousel-item-heading-desktop {
				font-size:10px;
			}
		}
	}
}

/*********************
SIDEBARS & ASIDES
*********************/
.tribe-events-list-widget {
	ol {
		li {
			padding-bottom:20px;
			margin-bottom:20x;
		}
	}
}

/******************************************
FILM FESTIVAL TEMPLATE PAGE
******************************************/
body.film-festival-page {
	.entry-header {
		.heading-desktop {
			font-size:10px;
		}
	}
	.content-primary {
		.screening-lists {
			.tabs {
				height:54px;
				li {
					height:54px;
					line-height:54px;
					font-size:24px;
					&:after {
						margin-bottom:17px;
					}
				}
			}
			.films-list {
				top:80px;
				img {
					width:145px
				}
			}
		}
	}
}