/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/
.wrap {
	margin:0 auto;
}
#logo {
	width:577px;
}

.nav {
	&.top-nav {
		& > li {
			& > a {
				padding:0 15px;
				font-size:15px;
			}
			.sub-menu  a {
				height:50px;
				line-height:50px;
			}
			&.mega-menu {
				& > .sub-menu {
					& > li {
						a {
							height:60px;
							line-height:60px;
						}
					}
				}
			}
		} 
	}
}
.content-primary {
	width:78%;
}
.single-format-gallery {
	.content-primary {
		max-width:1472px;
		margin:0 auto;
	}
}
.content-secondary {
	width:22%;
}
.thumb-index {
	.thumb-index-inner {
		& > ul {
			&.sponsor-gallery {
				margin-right:-3px;
				& > li {
					width:25%;
					.item-content {
						.gallery-caption, .item-link {
							font-size:14px;
						}
					}
				}
			}
		}
	}
}



/******************************************
PAGE SPECIFIC
******************************************/
/******************************************
EVENTS PAGE
******************************************/
body.tribe-events-style-full {
	.content-primary {
		float:left;
		width:78%;
	}
	.content-secondary {
		float:left;
		width:22%;
	}
}

/******************************************
FILMS PAGE
******************************************/
body.single-media_items {
	.article-header {
		margin-bottom:20px;
		@include clearfix;
		.image-container {
			float:left;
			margin-right:20px;
		}
	}
	.cast-crew {
		clear:left;
	}
}

/******************************************
FESTIVAL SCHEDULE PAGE,
FESTIVAL ARCHIVE PAGE
******************************************/
body.page-template-page-festival-schedule, body.page-template-page-festival-archive {
	h1 {
		font-size:48px;
	}
}

/******************************************
PROGRAMS TEMPLATE PAGE
******************************************/
body.page-template-page-program {
	.content-primary {
		float:left;
		width:70%;
		padding-right:0;
		@include clearfix;
		.overview {
			padding-right:20px;
			@include box-sizing;
		}
	}
	.content-secondary {
		float:left;
		width:30%;
	}
}