/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/
.wrap {
	margin:0 auto;
}
#logo {
	width:577px;
}

.nav {
	&.top-nav {
		& > li {
			& > a {
				padding:0 15px;
				font-size:15px;
			}
			.sub-menu  a {
				height:50px;
				line-height:50px;
			}
			&.mega-menu {
				& > .sub-menu {
					& > li {
						a {
							height:60px;
							line-height:60px;
						}
					}
				}
			}
		} 
	}
}
.content-primary {
	width:78%;
}
.single-format-gallery {
	.content-primary {
		max-width:1472px;
		margin:0 auto;
	}
}
.content-secondary {
	width:22%;
}



/******************************************
PAGE SPECIFIC
******************************************/
/******************************************
EVENTS PAGE
******************************************/
body.tribe-events-style-full {
	.content-primary {
		float:left;
		width:78%;
	}
	.content-secondary {
		float:left;
		width:22%;
	}
}

/******************************************
FILMS PAGE
******************************************/
body.single-media_items {
	.article-header {
		margin-bottom:20px;
		@include clearfix;
		.image-container {
			float:left;
			margin-right:20px;
		}
	}
	.cast-crew {
		clear:left;
	}
}